.character-name{
    font-family: "Bangers";
    font-size: 2em;
    color:white;
    text-shadow:rgb(255, 21, 21) 1px 0 10px;
}
.edit-header{
    font-weight: 900;
    border: 2px solid rgb(183, 0, 0);
    border-radius: 10px;
    padding: 5px;
    background-color:rgb(255, 19, 19, 0.2) ;
}
.character-jutsu{
    font-family: "Bangers";
    font-size: x-large;
    padding: auto;
    margin: 5px auto;
}
.character-details{
    display:flex;
    align-content: center;
    justify-content: center;
}

.content{
    display:grid;
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    max-width:100%;
    margin: 50px auto;
    color: white;
    background-color: RGB(88, 96, 75, .2);
    overflow: auto;
    font-family: Arial;
    box-shadow: 10px 10px 10px white;
}
.jutsu-items{
    color:rgb(255, 255, 255);
    font-family: arial;
    font-weight: 800;
    border:2px solid black;
    border-radius: 20px;
    background-color: RGB(0,0,0,0.4);
    padding: 3px;
    margin:2px auto;
}

img{
    align-self:center;
    justify-self:center;
}


.edit{
    padding: 10px;
    margin:10px;
    color:black;
    background-color: RGB(0,0,0,0.2);
    border: 1px solid black;
    font-weight: 800;

}
.edit:hover{
    background-color: rgba(2, 255, 2, 0.5);
    cursor:grabbing;
}
.delete{
    padding:10px;
    margin:10px;
    color:black;
    background-color: RGB(0,0,0,0.2);
    border:1px solid black;
    font-weight: 800;

}
.delete:hover{
    background-color: red;
    cursor: grabbing;
}