.characterName{
    font-family: "Bangers";
    font-size: 2em;
    color:white;
    text-shadow:2px 10px 10px rgb(0, 0, 0) ;
}
.character-jutsu{
    font-family: "Bangers";
    font-size: x-large;
    padding: 10px;
    margin: 5px auto;
    text-shadow: 2px 10px 10px rgb(0,0,0);
}
.character-details{
    display:flex;
    align-content: center;
    justify-content: center;
}
.detail-image{
    width: 84%;
    height:  84%;
    object-fit:contain;
    border-radius: 10px;
}

.detailContent{
    display:grid;
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    max-width:50vh;
    margin: 50px auto;
    color: white;
    background-color: RGB(0,0,0,0.3);
    overflow: auto;
    font-family: Arial;
    box-shadow:1px 1px 20px 15px rgb(255, 255, 255);
    text-shadow:2px 10px 10px rgb(0, 0, 0) ;
}
.jutsuItems{
    color:rgb(255, 255, 255);
    font-family: arial;
    font-weight: 800;
    border-radius: 20px;
    background-color: RGB(0,0,0,0.4);
    padding: 10px;
    margin:2px auto;
}

img{
    align-self:center;
    justify-self:center;
}


.edit{
    padding: 10px;
    margin:10px;
    color:black;
    background-color: RGB(0,0,0,0.2);
    font-weight: 800;

}
.edit:hover{
    background-color: rgba(2, 255, 2, 0.5);
    cursor:grabbing;
    box-shadow: 2px 2px 10px rgba(2, 255, 2, 0.5);
    color:white;
}
.delete{
    padding:10px;
    margin:10px;
    color:black;
    background-color: RGB(0,0,0,0.2);
    font-weight: 800;

}
.delete:hover{
    background-color: red;
    color:white;
    cursor: grabbing;
    box-shadow: 2px 2px 10px red;
}
.back{
    text-decoration: none;
    font-family: "Bangers";
    font-size: 2em;
    align-self: flex-end;
    margin-left: 75%;
    color:rgb(255, 255, 255);
    
}
.back:hover{
    text-shadow: 3px 3px 3px rgb(255, 208, 105);
}

