.content-wrapper{
    padding:20em;
    max-width:fit-content;
    margin: 5% auto;
    border-radius: 20px;
    background-image: url("../images/NEXUS-HOME.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    
}
.home-main{
    border-radius: 20px;
    margin: 2em auto;
    background-color: RGB(88, 96, 75, .2);
}
