html{
  background-color: rgb(59, 55, 63);
}

.App{
  display: flex;
  justify-content: center;
  background-color: black;
}

.nav{
  display:flex;
  text-align: center;
  justify-content: center;
  align-items:center;
  padding:15px;
  background-color: rgb(33, 33, 33);
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 20px;
  font-family: "Bangers";
  font-size: 1.5em;

}
a.nav:hover{
  text-shadow:rgb(255, 21, 21) 1px 0 10px;
}

.home{
  align-items: center;
  text-align: center;
}