html{
  background-color: rgb(255, 0, 0, 0.7);
}

.App{
  display: flex;
  justify-content: center;
  background-color: black;
  max-width: fit-content;
}

.nav{
  display:flex;
  text-align: center;
  justify-content: center;
  align-items:center;
  padding:15px;
  background-color: rgb(33, 33, 33, 0.3);
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 20px;
  font-family: "Bangers";
  font-size: 1.5em;
  overflow: auto;
  height:10vh;

}
a.nav:hover{
  text-shadow:rgb(255, 21, 21) 1px 0 10px;
}

.home{
  align-items: center;
  text-align: center;
}